<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sales force ">
    <listeners>
        <listener class-name="listeners.CustomListeners"/>

    </listeners>

    <test name="Test Basics 1">
        <classes>
            <class name="interactions.elements.testNG.TestNG_001"/>
        </classes>
    </test> <!-- Test -->
    <test name="Test Basics 2">
        <classes>
            <class name="interactions.elements.testNG.TestNG_002"/>
        </classes>
    </test> <!-- Test -->
    <test name="Test Basics 3">
        <classes>
            <class name="interactions.elements.testNG.TestNG_003"/>
        </classes>
    </test> <!-- Test -->
    <test name="Test Basics 5">
        <classes>
            <class name="interactions.elements.testNG.TestNG_005"/>
        </classes>
    </test> <!-- Test -->

</suite> <!-- Suite -->