<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" strict="true">
    <Properties>
        <Property name="filename">C:/Users/Daniela.Bogatinoska/IdeaProjects/AutTestNG/target/log/Log.log</Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <Appender  type="File" name="File" fileName="${filename}">
            <Layout type="PatternLayout" pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Appender>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="File"/>
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>